* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  border-collapse: collapse;
}
.wrapper td {
  width: 150px;
  height: 150px;
  border: 1px solid red;
}
.wrapper td:hover {
  border: 1px solid blue;
}