* {
    box-sizing: border-box;
}
.wrapper    {
    border-collapse: collapse;
    
    & td {
        width: 150px;
        height: 150px;
        border: 1px solid red;
       
        
        &:hover {
            border: 1px solid blue; 
        }
    }
}